* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainDiv {
    width: 80%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mainDiv form label {
    display: block;
    margin-bottom: 5px;
}

#mainDiv form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#mainDiv form #submit {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25%;
}

/* Responsive Styles */
@media only screen and (min-width: 600px) {
    #mainDiv {
        width: 50%;
    }
}