* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body h2 {
    position: absolute;
    margin-top: -380px;
}

form {
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: -8px -4px 4px #e08f15;
    border: 1px solid #e08f15;
}

form input {
    font-size: 25px;
    padding-left: 8px;
}

form p {
    font-size: 15px;
    color: rgb(104, 103, 105);
}

form #termCon #termCon {
    text-decoration: none;
    font-size: 17px;
}

form #buttonDone {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form #buttonDone .btn {
    background-color: #ecaa47;
    color: white;
    border: 1px double orange;
    border-radius: 0px 10px;
    transition: 2s;
    padding: 0px 15px;
}

form #buttonDone #res {
    background-color: #ecaa47;
    color: white;
    border: 1px double orange;
    border-radius: 0px 10px;
    transition: 2s;
    padding: 0px 15px;
}

form #buttonDone .sub:hover {
    background-color: green;
}

form #buttonDone #res:hover {
    background-color: red;
}

#password.warning {
    box-shadow: 6px -2px 5px red;
}

#password.success {
    box-shadow: 6px -2px 5px green;
}

#username.warning {
    box-shadow: 6px -2px 5px red;
}

#username.success {
    box-shadow: 6px -2px 5px green;
}

form #footerSection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form #footerSection a{
    text-decoration: none;
    font-size: 17px;
}
form #footerSection a:hover{
    text-decoration: underline;
}