* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(116, 215, 240, 0.411); */
    background-image: url("./img/img-7.jpg");
}

#forgotPassword {
    /* border: 1px solid red; */
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#forgotPassword h2 {
    color: rgb(15, 37, 70);
    text-shadow: 1px 1px 1px rgb(255, 251, 5);
}

#forgotPassword #forgotForm {
    /* border: 1px solid blue; */
    width: 98%;
    height: 94%;
    margin-top: 15px;
    padding-top: 5%;
    background-color: rgba(73, 236, 58, 0.349);
    display: flex;
    align-items: start;
    flex-direction: column;
    box-shadow: 1px 2px 3px 2px rgb(119, 125, 179);
    border-radius: 5px;
}

#forgotPassword #forgotForm label {
    color: rgb(2, 17, 66);
    font-weight: 600;
    font-size: 18px;
    margin-left: 10%;
}

#forgotPassword #forgotForm input {
    font-size: 17px;
    padding: 2px;
    width: 80%;
    margin-left: 10%;
}
#forgotPassword #forgotForm p{
    margin-left: 10%;
    color: #4d5964;
}

#forgotPassword #forgotForm #resetPass {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: rgb(31, 115, 241);
    color: white;
    transition: all 1s ease;
}

#forgotPassword #forgotForm #resetPass:hover {
    background-color: green;
    color: black;
}

#forgotPassword #forgotForm #footerPart{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#forgotPassword #forgotForm #footerPart a{
    text-decoration: none;
    color: white;
}
#forgotPassword #forgotForm #footerPart a:hover{
    text-decoration: underline;
}
#forgotPassword #forgotForm #footerPart a i{
    font-size: 14px;
}