* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: -8px -4px 4px #e08f15;
    border: 1px solid #e08f15;
}

form input {
    font-size: 25px;
    padding-left: 8px;
}

form .btn {
    background-color: #ecaa47;
    color: white;
    border: 1px double orange;
    border-radius: 0px 10px;
    transition: 2s;
    padding: 0px 15px;
}

form #res {
    background-color: #ecaa47;
    color: white;
    border: 1px double orange;
    border-radius: 0px 10px;
    transition: 2s;
    padding: 0px 15px;
}

form .sub:hover {
    background-color: green;
}

form #res:hover {
    background-color: red;
}

form p {
    font-size: 15px;
    color: rgb(104, 103, 105);
}

#password.warning {
    box-shadow: 6px -2px 5px red;
}

#password.success {
    box-shadow: 6px -2px 5px green;
}

#username.warning {
    box-shadow: 6px -2px 5px red;
}

#username.success {
    box-shadow: 6px -2px 5px green;
}